.carousel {
  $num-of-slide: 5;
//   max-width: 100em;
  margin: 1em;
  position: relative;

  input {
    display: none;
  }

  .wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 6px darkgrey;
    background: darkgrey;
    transform: translateZ(0);
    transition: all 500ms ease-out;

    .inner {
      transform: translateZ(0);
      transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
      width: percentage($num-of-slide);

      article {
        width: percentage(1 / $num-of-slide);
        float: left;
        position: relative;

        img {
          width: 100%;
        }
      }
    }
  }

  /*---- SET UP CONTROL ----*/
  .slider-prev-next-control {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    label {
      cursor: pointer;
      display: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      opacity: 0.7;

      @include respond(phone) {
        width: 25px;
        height: 25px;
      }      
      
      &:hover {
        opacity: 1;
      }
    }
  }

  .slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;

    label {
      cursor: pointer;
      border-radius: 5px;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #bbb;
      transition: all 0.3s;

      &:hover {
        background: #fff;
      }
    }
  }

  /*---- SET POSITION FOR SLIDE ----*/
  %bind-prev-next-button {
    font-family: FontAwesome;
    line-height: 38px;
    font-size: 2.8rem;
    @include respond(phone) {
      font-size: 2rem;
      line-height: 22px;
    }      

    display: block;
    text-align: center;
    color: #777;
    margin: 0 auto;
  }

  %bind-next-button {
    @extend %bind-prev-next-button;
    content: "\f105";
    // padding-left: 15px;
  }

  %bind-prev-button {
    @extend %bind-prev-next-button;
    content: "\f104";
    // padding-left: 8px;
  }

  %bind-next-label {
    display: block;
    float: right;
    margin-right: 5px;
  }

  %bind-prev-label {
    display: block;
    float: left;
    margin-left: 5px;
  }

  %bind-background-active-dot {
    background: #333;
  }

  @for $i from 1 through ($num-of-slide) {
    #slide#{$i}:checked {
      & ~ .wrapper .inner {
        margin-left: percentage(1 - $i);
      }

      & ~ .slider-dot-control label:nth-child(#{$i}) {
        @extend %bind-background-active-dot;
      }
    }

    $next_child: $i + 1;
    $prev_child: $i - 1;
    @if $i == $num-of-slide {
      $next_child: 1;
    }
    @if $i == 1 {
      $prev_child: $num-of-slide;
    }

    #slide#{$i}:checked {
      & ~ .slider-prev-next-control label:nth-child(#{$next_child}) {
        @extend %bind-next-label;

        &::after {
          @extend %bind-next-button;
        }
      }

      & ~ .slider-prev-next-control label:nth-child(#{$prev_child}) {
        @extend %bind-prev-label;

        &::after {
          @extend %bind-prev-button;
        }
      }
    }
  }
}

