$chart-font-size: 1.6rem;
$base-size: 1rem;
$chart-canvas-yaxis-height: 25%;
$chart-plot-width: 20%;
$chart-plot-label-width: 10rem;
$chart-plot-label-rotate: rotate(-60deg);

.chart {
  background-color: $color-white;
  color: $color-grey;
  display: flex;
  height: 55rem;
  margin-bottom: 3re,;
  overflow: hidden;
  padding: 10rem 3rem;
  position: relative;
  width: 100%;

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    color: $color-primary;
    left: 0;
    position: absolute;
    text-align: center;
    text-align: center;
    top: 1rem;
    width: 100%;

  }

  &__yaxis {
    height: 100%;

    &__label {
      color: $color-grey;
      font-size: $chart-font-size;
      height: $chart-canvas-yaxis-height;
      left: -$base-size;
      position: relative;
      text-align: right;
      top: -($base-size * 0.75);
    }
  }

  &__canvas {
    border-bottom: 1px solid $color-grey;
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;

    &__lines {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &__line {
      border-top: 1px dashed $color-grey;
      height: $chart-canvas-yaxis-height;
      position: relative;
    }
  }

  &__plot {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin-right: ($base-size * 0.5);
    position: relative;
    width: $chart-plot-width;
    z-index: 2;

    &__inner {
      background-color: $color-grey-dark;
      height: 100%;
      margin: 0 auto;
      max-width: ($base-size * 5);
      position: relative;
      width: 100%;
    }

    &__label {
      bottom: -7rem;
      font-size: $chart-font-size;
      left: -4rem;
      position: absolute;
      text-align: right;
      transform: $chart-plot-label-rotate;
      white-space: nowrap;
      width: $chart-plot-label-width;
    }
  }

  &__plot:nth-child(1) &__plot__inner {
    background-color: $color-primary;
    color: $color-primary;
  }

  &__plot:nth-child(2) &__plot__inner {
    background-color: $color-secondary;
    color: $color-secondary;
  }

  &__plot:nth-child(3) &__plot__inner {
    background-color: $color-tertiary;
    color: $color-tertiary;
  }

  &__plot:nth-child(4) &__plot__inner {
    background-color: $color-green-dark;
    color: $color-green;
  }

  &__plot:nth-child(5) &__plot__inner {
    background-color: $color-pink;
    color: $color-pink;
  }

  &__canvas-lines + &__plot {
    margin-left: ($base-size * 0.5);
  }
}
